[submodule "ohmyzsh"]
        path = ohmyzsh
        url = git@github.com:ohmyzsh/ohmyzsh.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:alacritty/alacritty.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
